<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Merging: <%= title %></title>
		<link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="/build/css/main.css">
	</head>
	<body>
		<div class="hidden">
			<p class="mode"><%= syntax %></p>
			<p class="yours"><%- body.yours %></p>
			<p class="both"><%- body.merge %></p>
			<p class="theirs"><%- body.theirs %></p>
		</div>
		
		<h1>Merging: <%= title %></h1>
		
		<div class="titles">
			<h2>Local</h2>
			<h2>Result</h2>
			<h2>Incoming</h2>
		</div>
		
		<div id="git-diff" spellcheck="false"></div>
		
		<div class="toolbar">
			<button class="cancel" data-id="cancel">Cancel</button>
			<button class="hide-diff" data-id="hide-diff">Toggle Differences</button>
			<button class="theirs" data-id="merge-theirs">Accept Theirs</button>
			<button class="yours" data-id="merge-yours">Accept Yours</button>
			<button class="save" data-id="save-file">Save</button>
		</div>
		<script src="/build/js/main.js"></script>
	</body>
</html>